* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/moon-stars.svg);
}

.light {
  --text-color: rgb(0, 0, 0);
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(161, 161, 161, 0.384);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(87, 87, 87, 0.377);
  --switch-bg-url: url(./assets/sun.svg);
}
body {
  background: var(--bg-url) no-repeat top center/cover;
  height: 100vh;
}
body * {
  font-family: "Inter", sans-serif;
  color: white;
  color: var(--text-color);
}

#container {
  width: 100%;
  max-width: 588px;
  margin: 40px auto 0px;
  padding: 0 24px;
}
#profile {
  margin-top: auto;
  text-align: center;
}

#profile img {
  display: flex;
  justify-content: center;

  width: 200px;

  border: 2px solid var(--text-color);
  border-radius: 150px;

  padding: 2px;
  margin: 0px auto;
}

#profile img:hover {
  transition: background 0.4s;
  background-color: rgba(255, 255, 255, 0.2);
}

#profile p {
  font-weight: 500;
  margin-top: 0;
  padding: 20px;
}


#switch {
  position: relative;
  width: 64px;
  margin: 0px auto 24px auto;
}
#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  right: 32px;
  z-index: 1;
  transform: translateY(-50%);
}
.light #switch button {
  right: 0;
  left: initial;
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 9999px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

/* links*/
ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 16px;
}
ul li a {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px 24px;

  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 500;

  transition: background 0.5s;
}

/* pseudo-selector*/
ul li a:hover {
  background-color: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

/* social-links*/
#social-links {
  display: flex;
  font-size: 24px;
  justify-content: center;
  margin: 20px;
  gap: 20px;
}

#social-links a {
  display: flex;
  justify-content: center;
  padding: 10px;
}

#social-links a:hover {
  background-color: var(--highlight-color);
  transition: 0.4s;
  border-radius: 50%;
}

footer {
  text-align: center;
  font: 14px;
  padding-bottom: 28px;
}

/* media queries*/
@media (min-width: 1px) {
  :root {
    --bg-url: url(./assets/bg-desktop.jpg);
  }
  .light {
    --bg-url: url(./assets/bg-desktop-light.jpg);
  }
}
